form(method="#{method}", id="#{id}")
  fieldset
    legend #{title}
    for form in forms
      .form-group
        if (form.label && form.type != "checkbox")
          label(for="#{form.id}") #{form.label}
        case form.type

          when "p"
            if (form.value)
              p(id=form.id, class=form.class) 
                strong #{form.value}

          when "text"
            if (form.value)
              input.form-control(type=form.type, name=form.name, id=form.id, value=form.value)
            else
              input.form-control(type=form.type, name=form.name, id=form.id)

          when "textarea"
            if (form.value)
              textarea.form-control(name=form.name, id=form.id, rows="3") #{form.value}
            else
              textarea.form-control(name=form.name, id=form.id, rows="3")

          when "checkbox"
            .form-group: .checkbox
              if (form.value)
                label(for=form.id) #{form.label}
                input(type=form.type, name=form.name, id=form.id, checked)
              else
                label(for=form.id) #{form.label}
                input(type=form.type, name=form.name, id=form.id)
            hr
                  
          default
            if (form.value)
              input.form-control(type=form.type, name=form.name, id=form.id, value=form.value)
            else
              input.form-control(type=form.type, name=form.name, id=form.id)

    if (_csrf)
      input(type="hidden", name="_csrf", value=_csrf)
  //- buttons & form ending, etc
  for btn in buttons
    button.btn(type="submit", class="btn-#{btn.class}") #{btn.std}
    |  