mixin button(type, classes, val)
  button.btn(type=type, class="btn-" + classes)=val

mixin input(type, classes, name, id, val)
  if (type == "checkbox")
    - if (val)
      input(type=type, class=classes, name=name, id=id, value="#{val ? true : false}", checked)
    - else
      input(type=type, class=classes, name=name, id=id, value="#{val ? true : false}")
  else if (val)
    input.form-control(type=type, class=classes, name=name, id=id, value=val)  
  else
    input.form-control(type=type, class=classes, name=name, id=id)  

mixin textarea(name, id, rows, val)
  textarea.form-control(name=name, id=id, rows="#{rows ? rows : '3'}") #{val ? val : ''}

mixin label(id, label)
  label(for=id)=label

mixin checkbox(name, id, label, checked)
  +label(id, label)
  +input("checkbox", "", name, id, checked)

mixin csrf(val)
  +input("hidden", "", "_csrf", "", val)

form(method="#{method}", id="#{id}")
  fieldset

    legend #{title}

    for form in forms
      .form-group

        if (form.label && form.type != "checkbox")
          +label(form.id, form.label)

        case form.type

          when "p"
            if (form.value)
              p(id=form.id, class=form.class) 
                strong #{form.value}

          when "text"
            +input(form.type, form.class, form.name, form.id, form.value)

          when "textarea"
            +textarea(form.name, form.id, form.rows, form.value)

          when "checkbox"
            .form-group: .checkbox
              +checkbox(form.name, form.id, form.label, form.value)
            hr

          default
            +input(form.type, "", form.name, form.id, form.value)

    if (_csrf)
      +csrf(_csrf)
  //- buttons & form ending, etc
  for btn in buttons
    +button(btn.type, btn.class, btn.std)
    |  
